.App {
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  color: black;
  text-align: justify;
  width: 100vw;
  height: 100vh;
}

.header {
  font-size: 15vw;
  position: absolute;
}

.emailAddress {
  padding-left: 1%;
  font-size: 7vw;
  position: absolute;
  bottom: 0px;
}
